# Firebase Admin SDK
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# SMTP Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Panda Video API
PANDA_API_KEY=
VITE_PANDA_API_KEY=

# Gemini API
GEMINI_API_KEY=
MINHA_CHAVE_GEMINI=
